body {
    text-align: center;
    background-color: #145c5c;
    font-size: 1.5em;
    color: #c5c1c1;
}

footer {
    padding: 20px;
    background-color: black;
}

aside {
    float: right;
    border-left
}

p {
    /* border: 1px solid yellow; */
    padding: 0 20px;
    margin: 20px;
}

a {
    color: #739204;
}

img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 10px 0;
}

hr{
    width: 700px;
    height: 5px;
    background-color: #1724da;
}

h2 {
    color: red;
}

.bio_picture {
    float: left;
    width: 150px;
    height: 200px;
    border-radius: 25%;
    display: block;
    padding: 10px;
}

quote {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.lived {
    list-style-type: circle;
    text-align: justify;
    padding-bottom: 10px;
}

main {
    width: 75%;
    height: 100%;
}

section {
    margin-top: 50px;
    margin-right: 10px;
    padding: 5px;
    background-color: #696767;
    text-align: left;
    width: 25%;
    height: 100%;
    float: right;
}

section ul {
    font-size: 1em;
    list-style-type: none;
    padding: 5px;
    line-height: 30px;
}

#patrick_bio {
    text-align: center;
    color: #1724da;
}